<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850583225961-lp4d0vrf8ik354v9tasrbvjrjni1n8ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850583225961-lp4d0vrf8ik354v9tasrbvjrjni1n8ui</string>
	<key>API_KEY</key>
	<string>AIzaSyBKmt7WbfGVZlpwbOGXW0GwHanmP-MgVfM</string>
	<key>GCM_SENDER_ID</key>
	<string>850583225961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cenwidev.cwitc</string>
	<key>PROJECT_ID</key>
	<string>central-wi-it-conference</string>
	<key>STORAGE_BUCKET</key>
	<string>central-wi-it-conference.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850583225961:ios:8a7ea6fc7206bd28</string>
	<key>DATABASE_URL</key>
	<string>https://central-wi-it-conference.firebaseio.com</string>
</dict>
</plist>